<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>

  <meta charset="utf-8">
  <title>Angular Example</title>
</head>
<body>
  <div id="app" ng-controller="TaskListCtrl">
    <h3>To-do: Angular.js</h3>
    <form ng-submit="onFormSubmit()">
      <p>
        <input type="text" placeholder="Add item" ng-model="inputField">
        <button>Add</button>
      </p>
    </form>

    <p>
      <ol>
        <li ng-repeat="task in tasks" ng-class="{true: 'completed', false: ''}[task.completed]">
          <input type="checkbox" ng-checked="task.completed" ng-click="toggleCompleted(task)"> {{task.title}} <a href="#" ng-click="removeItem($index)">[x]</a>
        </li>
      </ol>
    </p>

    <p>Total: <span class="total">{{tasks.length}}</span> | Remaining: <span class="remain">{{(tasks | filter:{completed: false}).length}}</span></p>
  </div>
</body>
</html>
